@import "bourbon/bourbon";
@import "_modules/all";

// Contains all inventory manipulation
.inventory-manipulation {
	padding-top: 2em;
	margin: .5em 0;
	&__wrapper {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(baseline);
		@include respond-to(expansionA) {
			margin: 1.5em 0;
			border: 1px solid #f2f2f2;
			border-radius: 4px;
			padding: .5em 1.2em;
		}
	}
}

// This is the main refinements box
.refinements {
	@include order(1);
	&__main-heading {
		@include rem_fallback(font-size, 1.2);
		@include respond-to(expansionA) {
			@include hide;
		}
	}
	&__form {
		@include hide;
		@include transform(scale(1.2));
		@include transition(transform .7s $niceEasing, opacity .7s $niceEasing);
		opacity: 0;
		background: #fff;
		overflow-y: scroll;
		width: 90%;
		height: 90%;
		margin: 5%;
		z-index: $z-modal;
		padding: 20px;
		order: 1;
		&.open {
			@include transform(scale(1));
			opacity: 1;
			position: fixed;
			left: 0;
			top: 0;
		}
		@include respond-to(expansionA) {
			@include transform(scale(1));
			@include transition(none);
			opacity: 1;
			position: static;
			width: 100%;
			height: auto;
			padding: 0;
			overflow: visible;
			margin: 0;
		}
	}
}

// Toggle for the close button. Should only be visible on mobile
.refinements__form__close {
	@include rem_fallback(font-size, 1.6);
	
	text-align: center;
	background: #999;
	color: #fff;
	display: block;
	width: 100%;
	padding: 1em 0;
	@include respond-to(expansionA) {
		display: none;
	}
}

// Toggle to open the refinements box. Should only be visible on mobile.
.refinements-form-toggle {
	@include respond-to(expansionA) {
		@include hide;
	}
}

// Generic set of refinements
.refinements-set {
	margin-bottom: 2em;
	@include respond-to(expansionA) {
		display: inline-block;
		position: relative;
		margin-right: 10em;
		margin-bottom: 0;
	}
	&__heading {
		margin: 0;
		padding: .5em 0;
		position: relative;
		&:after {
			@include respond-to(expansionA) {
				content: "";
				width: 0; 
				height: 0; 
				border-left: .5em solid transparent;
				border-right: .5em solid transparent;
				border-top: .5em solid #999;
				position: absolute;
				right: -1.5em;
				top: 1em;
				opacity: .5;
			}
		}
	}
}

// Generic options of refinements
.refinement-options {
	&__facet-list {
		list-style: none;
		padding: 0;
		@include respond-to(expansionA) {
			@include hide;
			.refinements-set:hover & {
				left: 0;
				width: 20em;
				border: 1px solid $lightGreyBorder;
				z-index: 200px;
				height: 150px;
				overflow-y: scroll;
				padding: 1.2em;
				top: 10px;
				background: #fff;
				z-index: 2000;
			}
		}
	}
	&__facet-item {
		@include rem_fallback(font-size, 1.4);
		margin: .5em 0;
	}
}

.inventory-sort {
	@include order(2);
	font-size: 1.2em;
}

//Inventory Toggles
.inventory-view-toggle {
	@include order(2);
	@include respond-to(expansionA) {
		display: none;
	}
	&__item {
		display: inline-block;
		padding: 1em;
		border: 1px solid #f2f2f2;
		font-size: 1.2em;
		border-radius: 4px;
		&.active {
			color: #000;
		}
	}
}