<header class="main-site-header">

  <div class="top-bar">

    <div class="grid-wrapper">
    
      <h1 class="site-logo"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/svg/logo.svg" alt="{{ site.title }}"></a></h1>
      
      <div class="nav-block">
        <h2 class="current-section">
          <a href="#" id="navMenusToggle"  class="nav-menus-toggle">local</a>
        </h2>
        <div id="navMenus" class="nav-menus">
          <a href="#" id="closeNav" class="close-nav">close</a>
          <nav  class="nav-verticals">
            <ul class="nav-verticals__list">
              <li class="nav-verticals__item">
                <a class="nav-verticals__link" href="#">local</a>
              </li>
              <li class="nav-verticals__item">
                <a class="nav-verticals__link" href="#">escapes</a>
              </li>
              <li class="nav-verticals__item">
                <a class="nav-verticals__link" href="#">shop</a>
              </li>
              <li class="nav-verticals__item">
                <a class="nav-verticals__link" href="#">gifts</a>
              </li>
            </ul>
          </nav>
          <nav class="nav-utility">
            <h3 class="nav-utility__heading">
              <a href="#" class="nav-utility__toggle" id="navUtilityToggle">hi, jared</a>
            </h3>
            <ul class="nav-utility__list" id="navUtility">
              <li class="nav-utility__item">
                <a href="" class="nav-utility__link">my vouchers</a>
              </li>
              <li class="nav-utility__item">
                <a href="" class="nav-utility__link">deal bucks</a>
              </li>
              <li class="nav-utility__item">
                <a href="" class="nav-utility__link">purchase history</a>
              </li>
              <li class="nav-utility__item">
                <a href="" class="nav-utility__link">preferences</a>
              </li>
              <li class="nav-utility__item">
                <a href="" class="nav-utility__link">my account</a>
              </li>
              <li class="nav-utility__item">
                <a href="" class="nav-utility__link">settings</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="search">
        
      </div>
    </div>
  </div>
</header>
