@import "bourbon/bourbon";
@import "_modules/_all";

.subnav {
	background: #f8f8f8;
	display: flex;
	position: relative;
	overflow: hidden;
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		overflow-x: scroll;
		white-space: nowrap;
		display: inline-block;
		order: 2;
		-webkit-overflow-scrolling: touch;
		&--current {
			@include transition(box-shadow .7s $niceEasing);
			width: auto;
			-webkit-overflow-scrolling: none;
			white-space: nowrap;
			order: 1;
			flex: 0 0 auto;
			box-shadow: 0 0 5px rgba(0,0,0,0);
			&.interacting {
				box-shadow: 0 0 5px rgba(0,0,0,.25);
			}
			.subnav__link {
				color: #333;
				font-weight: bold;
			}
		}
	}
	&__item {
		display: inline-block;
	}
	&__link {
		padding: 2em;
		display: inline-block;
		color: #666;
	}
}