@import "bourbon/bourbon";
@import "_modules/all";

* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 62.5%;
}

body {
	min-height: 100%;
	&.has-nav-open {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
	color: #999;
}

fieldset {
	border: none;
	padding: 0;
}